
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: 'Offside', sans-serif;
      background-color: #c3c3c3;
      height: 100vh;
      overflow: hidden;
    }

    .profile-container {
      width: 100vw;
      height: 100vh;
      position: relative;
      overflow: hidden;
      background-size: cover;
      padding: 0;
      margin: 0;
    }

    .exit-button {
      position: absolute;
      top: 30px;
      left: 30px;
      background: none;
      border: none;
      cursor: pointer;
      z-index: 10;
    }

    .exit-button img {
      width: 60px;
      height: 60px;
    }

    .exit-button:hover img {
      filter: brightness(1.1);
    }

    .circular-menu {
      position: absolute;
      top: 50%;
      left: 30px;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .menu-button {
      width: 100px;
      height: 100px;
      border: none;
      background: none;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      transition: transform 0.5s ease;
    }

    .menu-button img {
      width: 200px;
      height: 200px;
    }

    .menu-button:hover {
      filter: brightness(1.1);
    }

    .admin_IOT-btn img{
      width : 300px;
      height : 300px;
    }

    .admin_IOT-btn {
      top: 50%;
      left: 50%;
      transform: translate(270%, 60%);
    }

    .pemakaian-air-btn img{
      width : 300px;
      height : 300px;
    }

    .pemakaian-air-btn {
      top: 50%;
      left: 50%;
      transform: translate(270%, 200%);
    }

    .admin_edit_profil-btn {
      top: 50%;
      left: 0%;
      transform: translate(670%, -170%);
    }

    .unit-btn {
      top: 50%;
      left: 50%;
      transform: translate(1050%, -290%);
    }
  